/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600&family=Work+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    border: none;
    padding: 18px 24px;
    background: #FFF;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
}

.btn-secondery {
    border-radius: 5px;
    border: none;
    padding: 18px 24px;
    background: #005FAC;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
}


/* Header Section */
header {
    background: url('img/banner/banner3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    padding: 160px 230px;
}

.header-container {
    max-width: 500px;
    text-align: right;
}

.header-container h1 {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.header-container p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

/* Main Section */
main {
    display: block;
    margin: 0px auto;
    max-width: 1140px;
}

/* Previous Year */
.prev-yr {
    margin: 100px auto;
}

.prev-yr-container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.prev-yr-img {
    padding: 50px;
}

.prev-yr-img img {
    width: 450px;
}

.prev-yr-text h2 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.prev-yr-text p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.mark-list li {
    list-style: none;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 26px;
}

.mark-list li::before {
    content: '✔';
    padding-right: 10px;
    color: #005FAC;
}

/* My Plans  */
.my-plan h2 {
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0 60px;
}

.plan-container {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.plan-box {
    text-align: center;
}

.plan-box h4 {
    color: #151414;

    font-size: 30px;
    font-weight: 700;
}

.plan-box p {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

.plan-box * {
    margin-bottom: 20px;
}

.plan-box img {
    width: 90px;
}

/* Gradient Section */
.contact {
    margin: 150px 0;
}

.contact-banner {
    background: url('img/gradient1.png'), url('img/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px;
    border-radius: 8px;
}

.contact-banner h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Footer Section */
footer {
    background: #151414;
}

.footer-container {
    display: flex;
    gap: 40px;
    min-width: 1140px;
    justify-content: space-between;
    padding: 130px 230px;
}

.footer-box p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 500px;
}

.footer-box h3 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer-box h4 {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-box input {
    color: #F3F3F3;
    background: transparent;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    padding: 18px;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

.social-icons img {
    width: 44px;
}